<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body class="page">

<header class="header jumbotron text-center">
    <div class="container">
        <img src="img/webpack-logo.svg" alt="">
        <h1 class="display-4">Webpack Starter</h1>
        <p class="lead text-muted">Готовый шаблон настроек Webpack 4 для удобной и простой вёрстки сайтов</p>

        <div>
            <a href="//www.npmjs.com/package/twig-loader" target="_blank" class="badge badge-dark">twig</a>
            <a href="//webpack.js.org/loaders/sass-loader/" target="_blank" class="badge badge-dark">sass/scss</a>
            <a href="//webpack.js.org/loaders/babel-loader/" target="_blank" class="badge badge-dark">babel v7</a>
            <a href="//webpack.js.org/loaders/babel-loader/" target="_blank" class="badge badge-dark">dev server</a>
            <a href="//webpack.js.org/loaders/babel-loader/" target="_blank" class="badge badge-dark">jquery</a>
            <a href="//webpack.js.org/loaders/babel-loader/" target="_blank" class="badge badge-dark">bootstrap 4</a>
        </div>
        <a id="link-github" class="mt-3" href="" target="_blank">
            <img width="20" src="img/github-logo.svg" alt="github" title="Проет на github">
        </a>
        <div class="pt-3" style="font-size: 13px;">
            Последний коммит:<br><div class="last-commit">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</header>
