{% include './templates/header.twig' with {title: 'Webpack Starter Template'} %}

<div class="content">
	<img alt="" src="img/webpack-logo.svg">
	<h1 class="title">Webpack Starter Template</h1>
</div>


{% include './templates/footer.twig' %}