{% include './templates/header.twig' with {'title': 'Webpack Dev Starter'} %}

<div class="container">

    <section>
        <h3 class="text-center">Добро пожаловать!</h3>
        <hr>
    </section>
    <p>Webpack Starter - это простые, стартовые настройки для <a href="#" target="_blank">Webpack 4</a>, с удобным
        разделением. <br> Шаблон поддерживает: <a
                href="#" target="_blank">Twig</a> шаблонизатор,
        <a href="#" target="_blank">Sass/Scss</a> препроцессор.</p>
    <h5>Настройки</h5>
    <p>Все настройки Webpack находятся по адресу: <code>your_project/webpack.config/*.js</code>. <br></p>
    <p class="mb-0">Для удобства, настройки Webpack разделены на 3 части:</p>
    <ul type="circle">
        <li><code>webpack.common.js</code> - Глобальные настройки.</li>
        <li><code>webpack.dev.js</code> - Предназначен для работы <a href="#" target="_blank">Dev Server</a></li>
        <li><code>webpack.prod.js</code> - Занимается сборокой и компиляцией вашего проекта в папку <code>dist/</code></li>
    </ul>

    <section class="mb-5">
        <h2 class="text-center">Памятка</h2>
        <hr>
        <h5>Установка пакетов:</h5>
        <div class="alert bg-dark text-light"><samp>npm i</samp></div>
        <p>Устанавливает ваши пакеты из <a data-toggle="collapse" href="#collapseExample">package.json</a>
        </p>
        <div class="collapse" id="collapseExample">
            <div id="" class="card card-body">
                <ul type="circle" id="u-package"></ul>
            </div>
        </div>
        <br>

        <h5>Запуск Dev Server:</h5>
        <div class="alert bg-dark text-light"><samp>npm run dev</samp></div>
        <br>

        <h5>Сборка проекта:</h5>
        <div class="alert bg-dark text-light"><samp>npm run build</samp></div>
        <p>После <u>успешной</u> сборки, в корне вашего проекта появится папка <code>dist/</code> содержащая Ваши
            скомпилированные файлы</p>
    </section>

    <section>
        <h2 class="text-center">Кратко про NPM</h2>
        <hr>

        <h5>Установка пакета</h5>
        <p>Например, установим в проект популярный <a href="#" target="_blank">Slick Slider</a> :</p>
        <div class="alert bg-dark text-light"><samp>npm i slick-carousel -D</samp></div>
        <br>

        <h5>Удаление лишних пакетов</h5>
        <p>Ненужные вам пакеты, можно легко удалить следующей командой:</p>
        <div class="alert bg-dark text-light"><samp>npm uninstall jquery</samp></div>
        <p>В данном случае мы удалили пакет <b>jQuery</b></p>
    </section>

</div>


{% include './templates/footer.twig' %}
